


<div class=" M-Create  uk-margin-small-top" id="M_Create" uk-grid>
	<span style="display;none" id="M_create_type" value=""></span>
	<div class="uk-width-1-1 uk-margin-small-right uk-margin-small-left  ">

		<div class="uk-form-horizontal">
			<div class="uk-margin-small-bottom hide-addshell cube-create-div">
				<label class="uk-form-label" for="new_cube">Cube</label>
				<div class="uk-form-controls">
					<button class="uk-button uk-button-mini uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #modal_MC">My Cube</button>
				</div>
				<div class="uk-form-controls uk-margin-small-top new-cube-div">
					<input class="uk-input uk-form-width-expand " id="new_cube" type="text"  placeholder="Create New Cube...">
					<div class="M-create-mc-cube-div">

					</div>
				</div>
			</div>

			<div class="uk-margin-small-bottom shell-create-div">
				<label class="uk-form-label" for="new_shell">Shell</label>
				<div class="uk-form-controls">
					<select class="uk-select uk-form-width-small" id="new_shell_select">
						<option value="NS">New Shell</option>
						<option value="AC">just Connect</option>
					</select>
				</div>
				<div class="uk-form-controls uk-margin-small-top new-shell-div">
					<textarea class="uk-textarea uk-form-width-expand" rows="5" id="new_shell" placeholder="Create Shell " ></textarea>
				</div>
			</div>
			<div class="uk-margin-small-bottom">
				<label class="uk-form-label" for="empty"></label>
				<div class="uk-form-controls" id="empty">
					<button class="uk-button uk-button-mini uk-button-primary uk-width-6-20" id="btnTotalCreate">CREATE</button>&nbsp;
					<button class="uk-button uk-button-default uk-button-mini uk-width-6-20" id="btnMoreShell">MORE</button>&nbsp;
					<button class="uk-button uk-button-default uk-button-mini uk-width-6-20" id="btnCancelCreate">Cancel</button>
				</div>


			</div>
		</div>

	</div>

	
	<div class="create-target-dup-group" style="display:none">

		<!--#### total create FORM -->
		<div class="M-create-form-dup uk-margin-small-top">
			<!-- <div class="uk-width-6-10 uk-vertical-align-top uk-vertical-align uk-margin-top uk-panel cf-panel-box cf-panel-box-secondary uk-padding-top-remove">  -->
			<article class="cf-article uk-panel cf-panel-box cf-panel-box-secondary-selected uk-margin  ">
				<div class="uk-margin-small-left uk-margin-small-right" uk-grid>
					<div class = "uk-width-1-1 M-create-new-cube cube_meta hide-addshell uk-padding-remove" id="cube_data_dup" style="display:none">
					</div>

					<div class="uk-width-1-1 cube-data M-create-cube hide-create uk-padding-remove" id="cube_data">
					</div>

					<div class="uk-width-1-1 M-create-form-shell-div uk-padding-remove">
						<ul class="M-create-shell-ul  uk-margin-remove uk-padding-remove " uk-sortable >
							<li class="create-target-shell-li-temp" value="0_0_0" style="display:none">
								<div class="new-shell uk-panel cf-panel-box cf-panel-box-secondary-selected  uk-margin-small-bottom" style="min-height:25px">
									<span class="uk-width-1-1 uk-margin-small-left cf-article-lead create-shell uk-text-break" style="min-height: 20px" ></span>
								</div>
							</li>
						</ul>
					</div>
					<div class="uk-width-1-1 hide-create">
					</div>
				</div>
			</article>
		</div>


		<div class = "shell-content-div-dup uk-margin-mini-bottom uk-margin-mini-top uk-margin-mini-right uk-margin-mini-left" >
			<div class = "M-create-shell-div uk-margin-small-left uk-padding-remove"  uk-grid>
				<div class = "shell-content uk-width-17-20  uk-padding-remove uk-margin-mini" >
					<textarea class="uk-textarea shell-update" rows="5"  placeholder="" ></textarea>
					<span class = "shell-update-span uk-text-break"  style="white-space:pre-wrap;display:none" ></span>
				</div>
				<div class = "uk-width-2-20 uk-padding-remove">
					<div class=" uk-align-right uk-margin-left uk-link-muted shell-on-update" uk-grid>
						<div class="uk-width-1-1 ">
							<button class="uk-button uk-button-secondary uk-button-mini shell-edit-done" type="button" >Done</button>
						</div>
						<div class="uk-width-1-1 ">
							<button class="uk-button uk-button-default uk-button-mini shell-edit-cancel" type="button" >cancel</button>
						</div>
					</div>
				</div>
			</div>
		</div>



	</div>

	{% include "M_modal.html" with M_modal_type="MC" %}
</div>

<style type="text/css" id="M_Create_css">	
	<!--
	

	
	//-->
</style>

<script id="M_Create_script">
	$(document).ready(function(){
		
		//$("#new_shell").hashtags();
		$('#new_shell').keyup(doKeyupNewShell);
		$('#new_shell').keydown(doKeydownNewShell);

		$("#new_shell_select").change(doShellSelect);
		$("#conContent").on("click",".create-shell-close", doRemoveCreateFormLi);


		$("body").on("click", ".mc-cube-title-meta", doCubeSelect); //select my cube

		$("body").on({
		    mouseenter: function () {
				$(this).addClass("mc-cube-li-over");
		    },
		    mouseleave: function () {
				$(this).removeClass("mc-cube-li-over");
		    }
		}, ".mc-cube-li");

		$('#new_cube').keyup(function() {
		    $('.M-create-form').find("#create_cube_dup").html( $('#new_cube').val() );
		    $("#topControl").find(".uk-sticky-placeholder").css("height", $("#M_TopControl").outerHeight(true));
		});

		//###modal event
		$('#modal_MC').on({
			'show.uk.modal': function(){
                //target_user_id, target_div
                var target_div = $("#modal_MC").find(".cube-list-div");
				doRetrieveCubeList(0,target_div );
			},
			'hide.uk.modal': function(){
				var target_shell_li_html = $( "input:checked" ).parents(".cube-li").find(".shell-ul").html();

				$(".M-create-shell-ul").append( target_shell_li_html );
				$("#modal_MC").find(".cube-list-div").empty();
			}
		});

		//infinite scroll modal CUBE
		//$(window).scroll(doInfiniteScrollCube);

		$("#btnMoreShell").on("click", doMoreShell);
		$("#btnTotalCreate").on("click", doTotalCreate);
		$("#btnCancelCreate").on("click", doCancelCreateForm);

	});
	
</script>